*.DS_Store
*/.config/tmux/plugins/tmux*
*.gitconfig*
*.trash
*.bun/*
*.cache*
*.local*
*.npm*
*.vscode*
*.zcompdump-Kulvir*
*.zcompdump*
*.zsh_*
*Application*
*Desktop/*
*Downloads/*
*Documents*
*Library/*
*Movies/*
*Music/*
*Pictures/*
*Public/*
*Go/*
*.lesshst*
*.config/zed/*
*.config/zed/*/*
