*.DS_Store
*/.config/tmux/plugins/tmux*
*.trash
*.bun/*
*.cache*
*.local*
*.npm*
*.oh-my-zsh*
*.vscode*
*.zcompdump-Kulvir*
*.zcompdump-Kulvir*
*.zsh_*
*Application/*
*Desktop/*
*Downloads/*
*Documents*
*Library/*
*Movies/*
*Music/*
*Pictures/*
*Public/*
*Go/*
