"$schema" = 'https://starship.rs/config-schema.json'

format = "$directory$bun$golang$python$git_branch$git_status$git_state[ ❯](bold yellow)[❯](bold mauve)[❯](bold sapphire)\n$character"
palette = "catppuccin_mocha"

[bun]
format = '[bun ${version}](bold yellow)'
version_format = 'v${major}.${minor}'

[character]
success_symbol = "[➜](bold peach)"
error_symbol = "[✗](bold maroon)"

[cmd_duration]
disabled = true

[directory]
home_symbol = "󰊠 "
truncation_length = 2
truncate_to_repo = true
truncation_symbol = "󰊠 "
style = "bold lavender"

[git_branch]
format ='[ $symbol$branch]($style)'
style ='bold mauve'
symbol =" "

[git_status]
format = '([\[$all_status$ahead_behind\]]($style))'
style = 'peach'
staged = '[++\($count\)](green)'
up_to_date = '[✓](green)'
untracked = '[ \($count\)](maroon)'
modified = '[ \($count\)](yellow)'
deleted = '[✘\($count\)](red)'
ahead = '⇡${count}'
diverged = '⇕⇡${ahead_count}⇣${behind_count}'
behind = '⇣${count}'
renamed = '»\($count\)'
stashed = '襁'

[golang]
format = '[ ${version}](bold $style)'
version_format = 'v${major}.${minor}'

[nix_shell]
symbol = " "

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"

[python]
symbol = " "
format = '[(\($virtualenv\))${symbol}${version}]($style)'
version_format = 'v${major}.${minor}'
